@charset "utf-8";

header {
    width: 100%;
    height: 180px;
    background-color: aqua;
}

header #add {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

header #add button {
    font-size: 1.5rem;
    padding: 0 20px;
    color: #fff;
}

header #add a {
    line-height: 50px;
    color: #fff;
}

header nav {
    background-color: #fff;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav .logo {
    width: 20%;
}

header nav a {
    color: #333;
}

.point::after {
    content: ' \2039';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 10px;
}
header nav .top_menu,
.top_search {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

header nav .top_menu li {
    padding: 57px 0;
}

header nav .top_menu li > ul {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 180px;
    padding: 15px 0;
    background-color: #fff;
    display: none;
}

header nav .top_menu li > ul > li {
    padding: 5px 0;
}

header nav .top_search li:nth-child(1) {
    border-bottom: 1px solid #333;
}

header nav .icon {
    width: 25px;
    height: 25px;
}

#slider {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    background-color: antiquewhite;
}

#slider .slider_control {
    width: 15%;
    height: 100%;
    background-color: #333;
}

#slider .slider_control .button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

#slider .slider_wrap {
    width: 85%;
    height: 100%;
    overflow: hidden;
}

#slider .slider_wrap .slider_full {
    width: 300%;
    height: 100%;
    display: flex;
}

#slider .slider_wrap .slider_full .slider_img {
    width: 100%;
    height: 100%;
}

#floor_slider {
    width: 100%;
    height: 900px;
    background-color: yellow;
}

section {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

#new {
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
}

#search {
    width: 100%;
    height: 500px;
    background-color: yellow;
}

#popular {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

#recommend {
    width: 100%;
    height: 1500px;
    background-color: antiquewhite;
}

#sns {
    width: 100%;
    height: 500px;
    background-color: yellow;
}

#notice {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
}