@charset "utf-8";

header {
    width: 100%;
    height: 180px;
    transition: all 0.5s;
}

header #add {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
}

header #add button {
    font-size: 1.5rem;
    padding: 0 20px;
    color: #fff;
}

header #add .add_wrap {
    width: 500px;
    height: 50px;
    text-align: center;
}

header #add .add_wrap .add_text {
    width: 100%;
    height: 100%;
    position: relative;
}

header #add .add_wrap .add_text li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header #add .add_wrap .add_text li:not(:first-child) {
    display: none;
}

header #add a {
    line-height: 50px;
    color: #fff;
}

header nav {
    background-color: #fff;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav .logo {
    width: 20%;
}

header nav a {
    color: #333;
}

.point::after {
    content: ' \2039';
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 10px;
}
header nav .top_menu,
.top_search {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

header nav .top_menu li {
    padding: 57px 0;
    position: relative;
}

header nav .top_menu li > ul {
    position: absolute;
    text-align: center;
    width: 200px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 30px 0 20px 0;
    background-color: #fff;
    display: none;
    z-index: 5;
}

header nav .top_menu li > ul > li {
    padding: 5px 0;
}

header nav .top_search li:nth-child(1) {
    border-bottom: 1px solid #333;
}

header nav .icon {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
}

header.active{
    position: fixed;
    top: 0;
    z-index: 999;
}

header.active nav{
    height: 100px;
}

#slider_control {
    position: absolute;
    top: 50px;
    width: 30%;
    height: 880px;
    padding: 3%;
    background-color: #333;
    font-size: 0.9rem;
    z-index: 3;
}

#slider_control .pagination {
    position: relative;
    top: 10%;
}

#slider_control .pagination .swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1 !important;
}

#slider_control .pagination .swiper-pagination-bullet {
    display: block;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 25%;
    margin: 30px 0;
    background: #aaa;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
}

#slider_control .pagination .swiper-pagination-bullet .bullet_text {
    position: absolute;
    display: inline-block;
    text-align: left;
    margin-top: -9px;
    margin-left: 15px;
    width: 200px;
    color: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .5);
}

#slider_control .scroll_arrow {
    color: #fff;
    transform-origin: center;
    transform: rotate(-90deg);
    position: relative;
    top: 25%;
    left: -20%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#slider_control .scroll_arrow p {
    position: absolute;
    letter-spacing: 0.2rem;   
}

#slider_control .scroll_arrow img {
    display: block;
    position: relative;
    right: 100px;
    transform-origin: center;
    transform: rotate(90deg);    
    animation: scroll_arrow 1s ease-in-out infinite;
}

@keyframes scroll_arrow {
    0% {
        /* transform: translateY(10%); */
        margin-left: -10%;
    }
    50% {
        /* transform: translateY(0%); */
        margin-left: 0%;
    }
    100% {
        /* transform: translateY(10%); */
        margin-left: -10%;
    }
}

#slider {
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
}

#slider #side_menu {
    position: absolute;
    width: auto;
    height: 750px;
    top: 0;
    left: auto;
    right: -400px;
    /* margin-right: -400px; */
    display: flex;
    background-color: #333;
    color: #fff;
    z-index: 5;
}

#slider #side_menu .side_door {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#slider #side_menu .side_door .open {
    font-size: 1.5rem;
}

#slider #side_menu .side_door .close {
    transform-origin: center;
    transform: rotate(90deg);
    font-size: 1rem;
    background-color: #333;
}

.off {
    display: none;
}

#slider #side_menu.scroll {
    height: 100vh;
    position: fixed;
    top: 150px;
    left: auto;
    right: 0px;
    z-index: 999;
}

#scr_btn {
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 50%;
    position: fixed;
    top: auto;
    bottom: 100px;
    left: auto;
    right: 50px;
    z-index: 998;
    display: none;
}

#scr_btn .fa-solid {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#slider #side_menu .side_door .close::after {
    content: "\00D7";
    font-size: 1rem;
    margin-left: 5px;
}

#slider #side_menu .side_cont {
    width: 400px;
    padding: 220px 50px 0px 50px;
}

#slider #side_menu a {
    color: #fff;
}

#slider #side_menu .side_cont .side_list {
    display: flex;
}

#slider #side_menu .side_cont .side_list li {
    width: 28%;
    height: 100px;
}

#slider #side_menu .side_cont .side_list li a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#slider #side_menu .side_cont .side_list li .fa-solid {
    font-size: 2rem;
    display: block;
}

#slider #side_menu .side_cont .side_list .li_txt {
    font-size: 0.8rem;
    display: block;
}

#slider #side_menu .side_cont .btn_search {
    padding: 10px 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #fff;
}

#slider #side_menu .side_cont .btn_search a::after {
    content: " ";
    display: inline-block;
    width: 40px;
    height: 8px;
    margin-left: 30px;
    margin-bottom: 7px;
    background: url(img/btn_hover.png)no-repeat center center;
}

#slider #side_menu .side_cont .guide_txt {
    padding: 40px 0;
    font-size: 1.2rem;
}

#slider #side_menu .side_cont .move_shop {
    margin-top: 60px;
    padding: 20px 0;
    display: block;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #666;
}

#slider #side_menu .side_cont .sns_list li {
    float: left;
    margin-right: 30px;
    margin-top: 60px;
}

#slider #side_menu .fa-brands {
    font-size: 1.5rem;
}

#swiper {
    position: absolute;
    top: 180px;
    left: auto;
    right: 0;
    width: 85%;
    height: 750px;
    z-index: 4 !important;
}

#swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#swiper .swiper-slide .main_sli {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 200px 150px;
    color: #fff;
}

#swiper .swiper-slide .sli_tit {
    font-size: 80px;
    font-weight: 300;
    letter-spacing: -10px;
    opacity: 0;
    transition: all 0.5s;
}

#swiper .swiper-slide .sli_tit .txt_mg {
    margin: 0 10px;
    transition: all 0.5s;
}

#swiper .swiper-slide .sli_stit {
    font-size: 1.5rem;
    padding: 15px 0;
    opacity: 0;
    transition: all 0.5s;
}

#swiper .swiper-slide .sli_desc {
    font-size: 0.9rem;
    padding: 15px 0;
    padding-left: 15px;
    position: relative;
    opacity: 0;
    transition: all 0.5s;
}

#swiper .swiper-slide .sli_desc::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    top: 50%;
    margin-top: -4px;
    left: 0;
}

#swiper .swiper-slide .btn_box {
    margin-top: 150px;
    padding-top: 50px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s;
}

#swiper .swiper-slide .slide01 .btn_box,
#swiper .swiper-slide .slide02 .btn_box {
    padding-top: 200px;
}

#swiper .swiper-slide .btn_box a {
    color: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-right: 55px;
}

#swiper .swiper-slide .btn_box a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: -8px;
    left: 0;
    transition: all 0.5s;
}

#swiper .swiper-slide .btn_box a::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: url(img/btn_default.png)no-repeat center center;
    right: 0;
    top: 50%;
    margin-top: -5px;
    transition: all 0.5s;
}

#swiper .swiper-slide .btn_box a:hover::before {
    width: 0;
}

#swiper .swiper-slide .btn_box a:hover::after {
    opacity: 0;
}

#swiper .swiper-slide .btn_box span::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    background: url(img/btn_hover.png)no-repeat center center;
    left: 95%;
    top: 50%;
    margin-top: -5px;
    transition: all 0.5s;
}

#swiper .swiper-slide .btn_box a:hover span::after {
    width: 40px;
}

#swiper .swiper-button-prev {
    position: absolute;
    left: auto;
    right: 15%;
    top: 45%;
    background: url(img/tri_pre.png)no-repeat center center;
    color: #fff;
}

#swiper .swiper-button-next {
    position: absolute;
    left: auto;
    right: 15%;
    top: 57%;
    background: url(img/tri_next.png)no-repeat center center;
    color: #fff;
}

#swiper .swiper-button-prev::after  {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    transition: all 0.5s;
}

#swiper .swiper-button-next::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    right: 50%;
    top: 50%;
    margin-top: -1px;
    transition: all 0.5s;
}

#swiper .swiper-button-prev:hover::after,
#swiper .swiper-button-next:hover::after  {
    width: 100px;
}

#swiper .back {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid rgb(255,255,255);
    opacity: 0.3;
    right: auto;
    margin-top: 0;
    transition: all 0.5s;
}

#swiper .back:hover {
    opacity: 1;
}

#floor_slider {
    width: 100%;
    height: 900px;
    background-color: yellow;
}

section {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

#new {
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
}

#search {
    width: 100%;
    height: 500px;
    background-color: yellow;
}

#popular {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

#recommend {
    width: 100%;
    height: 1500px;
    background-color: antiquewhite;
}

#sns {
    width: 100%;
    height: 500px;
    background-color: yellow;
}

#notice {
    width: 100%;
    height: 700px;
    background-color: aqua;
}

footer {
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
}